# Фреймворк для бота
aiogram==3.10.0

# Работа с базой данных PostgreSQL
sqlalchemy==2.0.31
alembic==1.13.2
asyncpg==0.29.0
psycopg2-binary==2.9.9

# Работа с Redis (для машины состояний FSM)
redis==5.0.7

# Загрузка переменных окружения из .env файла
python-dotenv==1.0.1

# Для типизации и валидации настроек (лучшая практика)
pydantic==2.8.2
pydantic-settings==2.4.0

# Планировщик фоновых задач
apscheduler==3.10.4

# Календарь для aiogram 3
aiogram_calendar==0.6.0

# Веб-сервер
aiohttp

# --- НОВАЯ ЗАВИСИМОСТЬ ---
# Для настройки CORS (Cross-Origin Resource Sharing)
aiohttp-cors==0.7.0

# --- ЗАВИСИМОСТИ ДЛЯ ТЕСТИРОВАНИЯ ---
pytest==8.3.2
pytest-asyncio==0.23.8